In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [34]:
df = pd.read_csv(r'C:\Users\James Zhang\Desktop\sorrentum\sorrentum_sandbox\projects\SorrIssue2_Cross_exchange_arbitrage_CEX_CEX\multi_merged.csv')

In [35]:
df.head()

,Unnamed: 0,volume,volume.1,volume.2,volume.3,volume.4,volume.5,volume.6,volume.7,volume.8,...,vwap.80,vwap.81,vwap.82,vwap.83,vwap.84,vwap.85,vwap.86,vwap.87,vwap.88,vwap.89
0,NaN,okx,okx,okx,okx,okx,okx,okx,okx,okx,...,binanceus,binanceus,binanceus,binanceus,binanceus,binanceus,binanceus,binanceus,binanceus,binanceus
1,NaN,APE_USDT,AVAX_USDT,AXS_USDT,BNB_USDT,BTC_BUSD,BTC_USDT,CRV_USDT,DOGE_USDT,DOT_USDT,...,MATIC_USDT,NEAR_USDT,OGN_USDT,RUNE_USDT,SAND_USDT,SOL_USDT,STORJ_USDT,UNFI_USDT,WAVES_USDT,XRP_USDT
2,timestamp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-09-08 17:57:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-09-08 17:58:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [146]:
exchanges_list = df.iloc[0][1:].tolist()
coins_list = df.iloc[1][1:].tolist()
volume_str = "volume " * 90
vwap_str = "vwap " * 90

In [148]:
exchanges_str = ""
for x in exchanges_list:
    exchanges_str = "".join([exchanges_str, x]) + " "

coins_str = ""
for x in coins_list:
    coins_str = "".join([coins_str, x]) + " "

In [149]:
('2019' in df['Unnamed: 0'][3]) == True

True

In [199]:
df['Unnamed: 0'].str.contains('2023')

0            NaN
1            NaN
2          False
3          False
4          False
           ...
1787400     True
1787401     True
1787402     True
1787403     True
1787404     True
Name: Unnamed: 0, Length: 1787405, dtype: object

In [200]:
df_2023 = df[df['Unnamed: 0'].str.contains('2023') == True]

In [202]:
df_2023.head()

,Unnamed: 0,volume,volume.1,volume.2,volume.3,volume.4,volume.5,volume.6,volume.7,volume.8,...,vwap.80,vwap.81,vwap.82,vwap.83,vwap.84,vwap.85,vwap.86,vwap.87,vwap.88,vwap.89
1742765,2023-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14.362325,2383.512358,2192.805555,1.019382,10.372492,10.537207,0.427167,NaN,67.091259,0.275762
1742766,2023-01-01 00:01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14.362325,2383.512358,2192.805129,1.019382,10.372492,10.537207,0.427167,NaN,67.091181,0.275762
1742767,2023-01-01 00:02:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14.36232,2383.512358,2192.804892,1.019382,10.372492,10.537207,0.427167,NaN,67.091105,0.275762
1742768,2023-01-01 00:03:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14.36232,2383.512358,2192.804887,1.019382,10.372492,10.537207,0.427167,NaN,67.090989,0.275762
1742769,2023-01-01 00:04:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14.36232,2383.512358,2192.804071,1.019382,10.372492,10.537207,0.427167,NaN,67.090862,0.275762

In [203]:
df_2023 = df_2023.rename(columns={'Unnamed: 0': 'timestamp'})
df_2023 = df_2023.set_index('timestamp')

In [204]:
multi = pd.DataFrame(np.array(df_2023), columns=[(volume_str + vwap_str).split(), exchanges_str.split(), coins_str.split()])

In [205]:
multi

        volume                                                         \
           okx
      APE_USDT AVAX_USDT AXS_USDT BNB_USDT BTC_BUSD BTC_USDT CRV_USDT
0          NaN       NaN      NaN      NaN      NaN      NaN      NaN
1          NaN       NaN      NaN      NaN      NaN      NaN      NaN
2          NaN       NaN      NaN      NaN      NaN      NaN      NaN
3          NaN       NaN      NaN      NaN      NaN      NaN      NaN
4          NaN       NaN      NaN      NaN      NaN      NaN      NaN
...        ...       ...      ...      ...      ...      ...      ...
44635      NaN       NaN      NaN      NaN      NaN      NaN      NaN
44636      NaN       NaN      NaN      NaN      NaN      NaN      NaN
44637      NaN       NaN      NaN      NaN      NaN      NaN      NaN
44638      NaN       NaN      NaN      NaN      NaN      NaN      NaN
44639      NaN       NaN      NaN      NaN      NaN      NaN      NaN

                                   ...       vwap                            \
                                   ...  binanceus
      DOGE_USDT DOT_USDT ETH_BUSD  ... MATIC_USDT    NEAR_USDT     OGN_USDT
0           NaN      NaN      NaN  ...  14.362325  2383.512358  2192.805555
1           NaN      NaN      NaN  ...  14.362325  2383.512358  2192.805129
2           NaN      NaN      NaN  ...   14.36232  2383.512358  2192.804892
3           NaN      NaN      NaN  ...   14.36232  2383.512358  2192.804887
4           NaN      NaN      NaN  ...   14.36232  2383.512358  2192.804071
...         ...      ...      ...  ...        ...          ...          ...
44635       NaN      NaN      NaN  ...  14.163121  2373.882896  2143.995885
44636       NaN      NaN      NaN  ...  14.163121  2373.882316  2143.993804
44637       NaN      NaN      NaN  ...  14.163121  2373.882316  2143.992917
44638       NaN      NaN      NaN  ...  14.163121  2373.882211  2143.990863
44639       NaN      NaN      NaN  ...  14.163121  2373.882211  2143.989782

                                                                       \

      RUNE_USDT  SAND_USDT   SOL_USDT STORJ_USDT UNFI_USDT WAVES_USDT
0      1.019382  10.372492  10.537207   0.427167       NaN  67.091259
1      1.019382  10.372492  10.537207   0.427167       NaN  67.091181
2      1.019382  10.372492  10.537207   0.427167       NaN  67.091105
3      1.019382  10.372492  10.537207   0.427167       NaN  67.090989
4      1.019382  10.372492  10.537207   0.427167       NaN  67.090862
...         ...        ...        ...        ...       ...        ...
44635    0.9758  10.016476   8.139902   0.420419  0.663024  64.860428
44636  0.975799  10.016476   8.139902   0.420419  0.663024  64.860364
44637  0.975799  10.016476   8.139902   0.420419  0.663024  64.860364
44638  0.975797  10.016476   8.139902   0.420419  0.663024  64.860364
44639  0.975797  10.016476   8.139902   0.420419  0.663024  64.860364



       XRP_USDT
0      0.275762
1      0.275762
2      0.275762
3      0.275762
4      0.275762
...         ...
44635  0.275762
44636  0.275762
44637  0.275762
44638  0.275762
44639  0.275762

[44640 rows x 180 columns]

In [212]:
exchanges = list(multi.columns.levels[1])